body {
  display: flex;
  margin-top: 50px;
  background-image: url("./assets/tap.jpg");
  background-repeat:no-repeat;
  background-size: auto;
  background-attachment: fixed; 
}

/* Header Page */
.headerDiv { 
  background-color: palegoldenrod;
  height: 300px;
  width: 500px;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin-top: -9em;
  margin-left: -15em;
  border: 1px solid black;
  position: fixed;

}

.header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px
}

.headerNav {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 50px;
  font-size: 30px;
}

/* Auth Page */

.loginForm {
  padding: 20px;
  width: 350px;
  height: 450px;
  background-color: white;
  border-radius: 7px;
  border: 1px solid black;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
  top: 40%;
  left: 30%;
  margin-top: -9em;
  margin-left: -15em;
  border: 1px solid black;
  position: fixed;
}

.signUp {
  padding: 20px;
  width: 350px;
  height: 450px;
  background-color: white;
  border-radius: 7px;
  border: 1px solid black;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
  top: 40%;
  left: 30%;
  margin-top: -9em;
  margin-left: -15em;
  border: 1px solid black;
  position: fixed;
}
